extends webpage.pug

block scripts
    script(src='javascripts/form-validation.js' defer='true')
        


block content
    h1 Welcome to My Game Page
    form(id='login-form' method='post' action='/' novalidate='true')
        div
            label(for='email') Email:
            input(id='email' name='email' type='email' required=true)
        div
            label(for='password') Password:
            input(id='password' name='password' type='text' required=true)
        div
            button(type='submit') LOGIN
        div.form-error
