:root {
  --primary-color: #00137f;
  --secondary-color: #354185;
  --tertiary-color: #555869;
  --round-radius: 20px;
}

.main-form-container {
  margin: auto;
  text-align: center;
  overflow: hidden;
  border: 10px solid var(--primary-color);
  border-radius: var(--round-radius);
}

.logo-name {
  margin: auto;
  text-align: center;
}

.main-logo-img {
  display: block;
  margin: auto;
}

form * {
  border: 0px solid black;
}

.btn-primary {
  background-color: var(--secondary-color);
}

.form-group input {
  margin: auto;
  color: var(--tertiary-color);
}

.favorite-games-list {
  height: 700px;
  overflow-y: scroll;
}
