body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* div {
  border: 1px solid black;
} */

body > div > div {
  border: 8px solid #290cad;
  background-color: #cac1f3;
  border-radius: 15px;
  padding: 10px;
  max-width: 780px;
}

form * {
  border: 0px solid black;
}

.error-msg {
  color: red;
}
