*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #00137f;
  --secondary-color: #354185;
  --secondary-color-hover: #354186;
  --tertiary-color: #a9a9ad;
  --bg-1: #151a36;
  --round-radius: 20px;
}

.main-form-container {
  margin: auto;
  text-align: center;
  overflow: hidden;
  border: 10px solid var(--primary-color);
  border-radius: var(--round-radius);
}

.logo-name {
  margin: auto;
  text-align: center;
}

.main-logo-img {
  display: block;
  margin: auto;
}

form * {
  border: 0px solid black;
}

.btn-primary {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
}

.btn-primary:hover {
  border-color: var(--primary-color);
  background-color: var(--secondary-color-hover);
}

.form-group input {
  margin: auto;
  color: var(--tertiary-color);
}

.page-profile-pic {
  width: 200px;
  border: 1px solid black;
}

/* User Page */

.user-page-header {
  text-align: center;
}

.user-page-games,
.game-search-box {
  flex: 1 1 50%;
  height: 700px;
  width: 75%;
  border: 10px solid var(--primary-color);
  background-color: var(--secondary-color);
}

.game-list {
  flex: 1 1 90%;
  overflow-y: scroll;
  color: var(--tertiary-color);
}

.button-bar {
  flex: 0 1 auto;
  background-color: var(--bg-1);
}

.game-container {
  border: 2px solid black;
}

.game-container img {
  max-width: 100px;
  max-height: 100px;
}

.game-container p {
  font-size: 2.5rem;
}

.game-img {
  vertical-align: middle;
  text-align: center;
}

#drop-space {
  height: 25%;
  border: 1px dashed var(--tertiary-color);
}

/* Game Search Box */

.button-bar input {
  vertical-align: middle;
}

input#page-number {
  color: white;
  width: 50px;
}

@media only screen and (max-width: 768px) {
  .user-page-games {
    width: 100%;
    height: 100vh;
  }

  .game-container p {
    font-size: 1.5rem;
  }

  .game-name {
    text-align: center;
  }
}
